@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  position: relative;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bg.jpg");
}

.test {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
}

input {
  outline: none;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

input:focus {
  border-color: rgb(255, 255, 255);
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.search {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(11, 23, 27);
}

.search:hover {
  background-color: black;
}

.location,
.input,
.first-row > ul,
.third-row > ul,
.third-row li {
  display: flex;
}

.weather,
.location,
.third-row li {
  flex-direction: column;
}

.container {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 10px;
  margin-top: -15vh;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.weather-img {
  background-position: center;
}

.location {
  flex: 1;
}

.weather {
  margin-top: 50px;
  gap: 10px;
}

.first-row > ul {
  align-items: center;
  gap: 10px;
}

.second-row {
  text-align: end;
}

.third-row > ul {
  gap: 40px;
  margin-top: 30px;
}

.input {
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.weather-details {
  display: flex;
  flex-direction: column;
}

.error {
  margin-top: 5px;
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

@media screen and (max-width: 600px) {
  .third-row > ul {
    flex-direction: column;
    gap: 20px;
  }

  .container {
    font-size: 1rem;
  }
}
